{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
{{block.super}}

<style>
.thisy{
    padding-left: 15%;
}
hr{
    background: #000000;
}

</style>

<h1 class='text-center'>aaaarrrraa</h1> 
<div class="container">


<div class="row">
        <div class="col-sm-6 col-md-4 col-lg-10 thisy">
          <div class="thumbnail">
              <p>profile info</p>
            <hr>
            <p>image</p>

            <img src="./static/icons/heart32.png" alt="Likes Icon" class="likey" >
            <div class="caption">
              <h3>caption</h3>
              <p>comments go here</p>
              <hr>
              <p><a href="#" class="btn btn-primary" role="button">add a comment</a> </p>
            </div>
          </div>
        </div>

</div>
</div>   
  
      
    

{% endblock %}